#root {
  display: flex;
  text-align: center;
  flex-direction: row-reverse;
}
a {
  color: black;
  text-decoration: none;
}

input {
  border-radius: 6px;
  height: 30px;
  margin-top:10px;
  text-align: center;
}

button {
  height: 50px;
  text-align: center;
  padding: 10px;
}

#Messages-button {
  margin:10px ;
}

.register {
  flex-direction: column;
  display: flex;
  margin-right: 10px;
}

.login {
  flex-direction: column;
  display: flex;
  margin-right: 10px;
}

.users {
  flex-direction: column;
  display: flex;
  margin-right: 10px;
}

.hiba {
  color: red;
  margin-bottom: 10px;
}

.siker {
  color: green;
  margin-bottom: 10px;
}

.navbar {
  background-color: #222;
  color: white;
  padding: 10px;
  height: 25px;
  width: 25px;
  text-align: center;
  border-radius: 6px;
  background-color: blue;
  display: flex;
  justify-content: center;
}

.navbar-fejlec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-gomb {
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  background-color: #333;
  margin-top: 10px;
  border-radius: 6px;
}

.dropdown-menu button {
  background: none;
  border: none;
  color: white;
  padding: 12px;
  text-align: left;
  cursor: pointer;
}

.dropdown-menu button:hover {
  background-color: #444;
}